video {
  max-width: 480px;
  width: 100%
}
.red {
  font-weight: bold;
  color: #e34438;
}
.explanation {
  margin-bottom: 1.0rem;
  padding: 1.5rem;
  white-space: normal;
  background: #f4f5f6;
  border-left: 0.3rem solid #9b4dca;
  overflow-y: hidden;
}
