<div class="animated fadeIn" *ngIf="question">
  <h2 class="h4"><span class="red">世界遺産</span>の名称をお答えください。</h2>

  <video #videoPlayer (click)="toggleVideo()">
    <source [src]="question.videoUrl" type="video/webm" />
    地球を再生できません。友達のスマホを借りてみてね。
  </video>

  <div class="container">
    <ng-container *ngIf="canplay">
      <ng-container *ngIf="!isStarted">
        <button type="button" (click)="play()" [disabled]="isStarted" class="animated fadeIn">スタート!!</button>
      </ng-container>

      <ng-container *ngIf="isStarted && !isPaused()">
        <button type="button" (click)="pause()" [disabled]="isPaused()">分かった!!</button>
      </ng-container>

      <div *ngIf="isStarted && isPaused()" class="animated bounceIn">
        <div class="row">
          <div class="column column-80 column-offset-10">
            <input type="text" [disabled]="!isPaused() || answerShowed" placeholder="出た！地球押し！答えを...どうぞ！" />
            <button type="button" (click)="showAnswer()" *ngIf="!answerShowed">答え合わせする</button>
          </div>

        </div>
        <div class="row">
          <div *ngIf="answerShowed" class="animated fadeIn column">
            <h2 class="h4">答え：{{question.answer}}</h2>
            <div class="explanation">
              <figure>
                <img [src]="question.flagUrl" [alt]="question.region" [title]="question.region" width="100">
                <figcaption>{{question.region}}</figcaption>
              </figure>
              {{question.explanation}}
            </div>
            <button type="button" routerLink="/question">次の世界遺産へ</button>
          </div>
        </div>
      </div>
    </ng-container>
    <app-share></app-share>
  </div>
</div>