<ul>
  <li>
    <a href="javascript:void(0);" class="twitter" (click)="shareTwitter()"><i class="fab fa-twitter-square"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="line" (click)="shareLine()"><i class="fab fa-line"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="facebook" (click)="shareFacebook()"><i class="fab fa-facebook-square"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="copy" (click)="copyLink()"><i class="fas fa-copy"></i></a>
  </li>
</ul>