ul {
  list-style: none;
}
li {
  display: inline-block;
}
.twitter {
  color: #1DA1F2;
}
.line {
  color: #00B900;
}
.facebook {
  color: #1877F2;
}
.copy {
  font-size: 1.8em;
  color: #444;
}
a {
  margin: 1rem;
  font-size: 2em;
  transition: font-size 1s;

  &:hover, &:focus {
    font-size: 2.5em;
  }
}